*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: dodgerblue;
}

.escrita{
    display: flex;
}

input{
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    border-radius: 15px;
    border: 2px solid black;
}

main
{
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px;
    margin: 0 auto;
}

header
{
    margin: 15px;
    text-align: center;
}

.button {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: black;
   }
   
   button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

